<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Blog</title>
</head>

<body>
    <header>
        <h2>Edit: <%= author.name %></h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/author">Authors Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <form action="/authors/<%= author._id %>?_method=PUT" method="Post">
          Name : <input type="text" name="name" value="<%= author.name %>"><br>
          <input type="submit" value="Update"><br><br>
        </form>
    </section>
</body>

</html>