<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Blog</title>
</head>

<body>
    <header>
        <h1>Authors</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/authors/new">Create a new Author</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>The list goes..</h2>
        <ul>
            <% authors.forEach((author) => {%>
                <li><a href="/authors/<%= author._id %>"><%= author.name %></a></li>
                <%}) %>
        </ul>
    </main>
</body>

</html>